extends layout

block vars
    - var title = 'About Us'
    - var updated = '2/13/17'

block content
    h1 #{title}
    h4 updated: #{updated}
    p This is just another page using the same layout as the index page.