extends layout

block vars
    - var title = 'Contact Us'
    - var updated = '2/13/17'

block content
    h1 #{title}
    h4 updated: #{updated}
    p This page is using the same layout as the index page.
    table(border=1)
        tr
            th Number
            th Reasons to like Pug
        tr
            td 1.
            td Template layouts save work on creating pages
        tr
            td 2.
            td Passing variables in makes life easier
        tr
            td 3.
            td The each command is really useful