doctype html
head 
    link(href='main.css', rel='stylesheet')
    block vars
    title #{title}
body
    header
        nav
            a(href='index') Home
            a(href='about') About Us
            a(href='contact') Contact Us
    section
        block content
    footer
        p Created by Tom Beatty