table tr:nth-child(odd){
    background-color: #aca;
}
table tr:nth-child(even){
    background-color: #dfd;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}